<launch>

    <!-- <arg name="model" default="$(find mobile_robot_description)/urdf/quimeta_robot.urdf.xacro"/> -->
    <arg name="namespace" default="/quimera_robot"/>
    <!-- If true, rqt_robot_steering is also launched -->
    <arg name="manual_control" default="false"/>

    <!-- Load controller configurations from YAML file to parameter server -->
    <rosparam command="load"
        file="$(find mobile_robot_models)/control/quimera_control.yaml"/>

    <!-- load the controllers -->
    <group ns="$(arg namespace)">

        <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
            output="screen" args="joint_state_controller
                                                mobile_base_controller"/>

        <!-- convert joint states to TF transforms for rviz, etc -->
        <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
            respawn="false" output="screen">
            <remap from="/joint_states" to="/$(arg namespace)/joint_states" />
        </node>
    </group>

    <group if="$(arg manual_control)" >
        <node name="rqt_robot_steering" pkg="rqt_robot_steering" type="rqt_robot_steering">
            <param name="default_topic" value="/quimera_robot/mobile_base_controller/cmd_vel"/>
        </node>
    </group>
</launch>